.shuoba-thread .comment-box {
    width: 100%;
}
.shuoba-thread .text-block {
    width: 100%;
    padding: 10px;
    background: #f4f6f7;
    outline: none;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
}
.shuoba-thread .input-box {
    margin-top: 10px;
    overflow: hidden;
    margin-left: -5px;
    margin-right: -5px;
}
.shuoba-thread .input-box .input {
    padding: 0 5px;
    float: left;
    box-sizing: border-box;
    width: 33.333333%;
}
.shuoba-thread .input-box input{
    width: 100%;
    height: 26px;
    outline: none;
    border: 1px solid #b9b9b9;
    background: #f4f6f7;
    border-radius: 3px;
    padding: 0 10px;
    box-sizing: border-box;
}

.shuoba-thread input:focus,
.shuoba-thread textarea:focus {
    border-color: #3369e8;
    transition: border-color 0.3s ease;
}
.shuoba-thread  .submit-button {
    width: 100%;
    margin-top: 15px;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: #00a3cf;
    color: #fff;
    font-size: 14px;
}
.shuoba-thread .submit-button:hover {
    background: #3369e8;
    transition: background 0.3s ease;
}
.shuoba-thread .comment-list {
    margin-top: 30px;
}
.shuoba-thread .comment-list .comment-list-head {
    line-height: 100%;
    padding-left: 10px;
    font-weight: 700;
    border-left: 2px solid #3369e8;
    color: #585858;
}
.shuoba-thread .comment-list-ul {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.shuoba-thread .comment-list-ul li {
    width: 100%;
    position: relative;
    margin-bottom: 10px;
    border-bottom: 1px solid #dee4e9;
}
.shuoba-thread .comment-list-ul  .head-pic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background: #00a3cf;
    border-radius: 100%;
}
.shuoba-thread .comment-list-ul  .head-pic:hover {
    background: #3369e8;
    transition: background 0.3s ease;
}

.shuoba-thread .comment-list-ul  .comment-detail{
    margin-left: 80px;
}
.shuoba-thread .comment-list-ul  .comment-detail .nickname {
    font-size: 14px;
    color: #444;;
}
.shuoba-thread .comment-list-ul  .comment-detail .time {
    font-size: 13px;
    color: #aaa;
}
.shuoba-thread .comment-list-ul  .comment-detail .content {
    padding: 10px 0;
    font-size: 14px;
    line-height: 20px;
}
.shuoba-thread .comment-list-ul  .comment-detail .btn {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #333;
}
.shuoba-thread .comment-list-ul  .comment-detail .btn:hover {
    font-size: 14px;
    cursor: pointer;
    color: #999;
}

@media (max-width: 600px) {
    .shuoba-thread .input-box {
        margin-left: 0;
        margin-right: 0;
    }
    .shuoba-thread .input-box .input {
        padding: 0;
        margin-bottom: 15px;
        box-sizing: border-box;
        width: 100%;
    }
    .shuoba-thread  .submit-button {
        margin-top: 0;
    }
}